---
import { getRelativeLocaleUrl } from 'astro:i18n';

import type { SupportedLocale, NavKey } from '@/types';
import { I18N_CONFIG, OFFICIAL_WEBSITE_URL } from '@/constants/config';

import logo from './logo.png';
import HeaderLink from './HeaderLink.astro';

interface Props {
  style?: string;
  hideNavs?: boolean;
}

type SiteNav = {
  key: NavKey;
  path: string;
}

const { style, hideNavs = false } = Astro.props;
const locale = (Astro.currentLocale || 'en') as SupportedLocale;
const i18n = I18N_CONFIG[locale];
const getLocaleUrl = getRelativeLocaleUrl.bind(null, locale);

const navs: SiteNav[] = [
  { key: 'home', path: '/' },
  { key: 'projects', path: '/projects' },
  // { key: 'contributing', path: '/contributing' },
  { key: 'about', path: '/about' },
];
---

<header class="flex items-center m-0 px-5 bg-white shadow-md" style={style}>
  <nav class="max-w-screen-xl my-0 mx-auto flex grow items-center justify-between">
    <div class="flex items-center">
      <a class="size-10" href={OFFICIAL_WEBSITE_URL} target="_blank" rel="noreferrer">
        <img class="size-full" src={logo.src} alt="OpenBuild" />
      </a>
      <span class="w-[1px] h-6 ml-3 mr-3.5 bg-slate-300"></span>
      <a class="text-2xl/none text-gray-800 hover:text-gray-500" href={getLocaleUrl('/')}>Eco</a>
    </div>
    <div class="internal-links">
      {hideNavs !== true && (
        <>
          {navs.map(nav => (
            <HeaderLink href={getLocaleUrl(nav.path)}>{i18n.navs[nav.key]}</HeaderLink>
          ))}
        </>
      )}
    </div>
  </nav>
</header>
<style>
  .internal-links a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  .internal-links a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
